[submodule "extern/GLFW"]
	path = extern/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/Evo"]
	path = extern/Evo
	url = https://github.com/12Thanjo/Evo.git
[submodule "extern/PhysX"]
	path = extern/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
[submodule "extern/msdf_atlas_gen"]
	path = extern/msdf_atlas_gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extern/lodepng"]
	path = extern/lodepng
	url = https://github.com/lvandeve/lodepng.git
